    
    body * {
        margin: 0;
        padding:0;
    }
    header{
        /* background-color: tomato; */
    }
    .logo{ 
         font-size:40px;         
         color: '#ffffff' !important;
    }

    

    