@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");

body {
    /* background-color: #23f500; */
    margin: auto;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}

#header{
    height:60px;
    background-color:#d2a08c
}
/* css for logo*/
#icon{
    font-size:30px;
    color:#13648c;
    margin-left: 1%;
    margin-top: 0%;
    font-weight: bold;
    position: absolute;
    margin-top: 5px;
}
#nav{
    float: left;
    margin-left: 20%;
}
#social{
    float: right;
    margin-right: 1%;
}
a{
    text-decoration: none
}
.slogo{
    height:50px;
    width:50px;
}

#content{
    width: 90%;
    height: 600px;
    margin-top: 2%;
    margin-left: 2%;
}

#imgDiv{
    width: 45%;
    height: 420px;
    margin-top: 3%;
    margin-left: 2%;
    float: left;
}

#imgDiv>img{
    width: 100%;
    height: 100%;
}

#textDiv{
    width: 48%;
    height: 600px;
    margin-top: 1%;
    margin-left: 2%;
    float: left;
}

.checked{
    color:green;
}

.icon{
    display: inline-block;
    margin-left:2%
}

.stock{
    font-size: 33px;
    color:green
}
.btn{
    height: 35px;
    width: 132px;
    font-size: 14px;
}

.btn-checkout{
    background-color:rgb(52, 201, 52);
    color:white;
    font-size: 14px;
    margin-right: 15px;
}

.btn-atc{
    background-color:rgb(243, 62, 62);
    color:white;
    font-size:14px;

}

.cartBtn{
    width:50px;
    margin-left:0%;
}
