@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}
.form-cover {
    border: 1px solid #eee;
    border-radius: 10px;
    box-shadow: 10px 10px 14px #a8a8a8;
}
.form-group input {
    height: 55px;
}

.top-heading h1 {
    font-weight: 600;
    color: #fff;
}

.err1 {
    display: none;
}

.showerror {
    display: block;
}
