@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");

body {
    /* background-color: #23f500; */
    margin: auto;
    font-family: "Poppins", sans-serif;
}

.main-header {
    height: 80px;
    width: 100%;
    background-color: #e25454;
}

.logo {
    float: left;
    padding-top: 1.3%;
    padding-left: 2%;
}

.logoname a {
    color: #fff;
    font-size: 30px;
    text-decoration: none;
}

.social-logo {
    float: right;
    padding-top: 1%;
    padding-right: 2%;
}

.social-logo > img {
    height: 50px;
    width: 50px;
}

.herobanner {
    height: 500px;
    background-image: url("image/indianfood.jpg");
    background-size: 100% 500px;
    background-repeat: no-repeat;
    position: relative;
}

.chef {
    position: absolute;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    left: 51%;
    top: 2%;
}

.offer {
    left: 40%;
}

.runner {
    left: 0%;
    animation: run 3s infinite;
}

@keyframes run {
    0% {
        left: 0%;
        opacity: 0.5;
    }

    30% {
        left: 25%;
    }
    50% {
        left: 40%;
    }
    60% {
        left: 0%;
    }
}

.spacer {
    padding-top: 4% !important;
}

.herologo {
    padding-top: 25px;
    height: 90px;
    width: 123px;
    /* margin-top: 3% !important; */
    margin: 0 auto;
    background: #fff;
    border-radius: 50%;
    /* border: 2px solid #e25454; */
    text-align: center;
}

.herologo span {
    font-size: 46px;
    color: #e25454;
}
.herotagline,
.selections {
    width: 50%;
    margin-top: 3% !important;
    margin: auto;
    text-align: center;
    background: rgba(51, 50, 50, 0.746);
}
.selections {
    width: 35% !important;
    background: none !important;
}

.herotagline span {
    font-size: 33px;
    color: #fff;
    text-transform: capitalize;
}

.selecteditems {
    height: 55px;
    width: 270px;
    border-radius: 15px;
    font-size: 16px;
    font-weight: 600;
}

footer h4 {
    text-align: center;
    font-size: 30px;
}

/* list card section */
.menucards {
    background: whitesmoke;
}

.mcard-mainContainer {
    min-height: 600px;
    width: 80%;
    margin-left: 10%;
    padding: 10px;
}

.searchheading,
.subtext {
    color: #192f60;
    font-size: 30px;
    font-weight: bold;
    display: block !important;
    text-transform: capitalize;
    margin-left: 2%;
    margin-top: 3%;
}

.subtext {
    color: gray;
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 500;
    margin-top: 0%;
}

.cards {
    min-height: 25%;
    width: 30%;
    border: 2px solid rgba(167, 165, 165, 0.924);
    margin-left: 2%;
    margin-top: 2%;
    display: inline-block;
    background: #fff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    cursor: pointer;
    transition: all 1s;
}

.cards:hover {
    box-shadow: 12px 12px 15px rgb(51, 50, 50);
    border-radius: 30px 0;
    border: 2px solid transparent;
}

.itemimg,
.itemname {
    width: 49%;
    height: 180px;
    float: left;
    /* background: blue; */
    /* padding: 1%; */
    overflow: hidden;
}

.itemimg img {
    height: 100%;
    width: 100%;
}

.itemheading {
    margin-left: 20px;
    margin-top: 30px;
}
.itemheading a {
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
}
.itemsubhead {
    /* height: 180px;
    overflow: scroll; */
    margin-left: 20px;
    margin-top: 20px;
    font-size: 18px;
    color: #aba6a6;
    line-height: 24px;
}

/* Listing banner */

.listingbanner {
    height: 450px;
    width: 100%;
    background-image: url("image/listingbanner.jpg");
    background-repeat: no-repeat;
    background-size: 100% 450px;
    position: relative;
    /* border: 2px solid #f4ee2c; */
}

.listtagline {
    position: absolute;
    width: 50%;
    top: 20%;
    left: 25%;
    /* background: yellow; */
}

.listtagline span {
    font-size: 48px;
    font-family: "Roboto", sans-serif;
    color: #fff;
    text-transform: capitalize;
}

.listtagline h5 {
    color: #fff;
    font-size: 18px;
    letter-spacing: 1.2px;
}

.listchef {
    position: absolute;
    top: 22%;
    left: 32%;
}

.listchef img {
    height: 200px;
    width: 200px;
}

/* listing section */

.listing-container {
    min-height: 600px;
    /* border: 2px solid purple; */
}

.listing-cover {
    display: inline-block;
    width: 80%;
    min-height: 600px;
    margin-left: 10%;
    /* border: 2px solid #ff23f4; */
}

.left-list,
.right-list {
    width: 25%;
    min-height: 400px;
    float: left;
    /* border: 2px solid #fbb2e3; */
}

.right-list {
    width: 65%;
    /* float: left; */
    margin-left: 8%;
}

.list-eaterytag {
    margin-top: 5%;
    margin-bottom: 2%;
}

.list-eaterytag span {
    font-family: "Poppins", sans-serif;
    font-size: 32px;
    font-weight: 700;
}

.filter-sort {
    padding: 3%;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    /* font-weight: 600; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    margin-bottom: 3%;
    border: 1px solid #eee;
}

.below-filters {
    padding: 3%;
    font-family: "Poppins", sans-serif;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border: 1px solid #eee;
}

.textfilter {
    font-size: 18px;
    letter-spacing: 0.45px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.loc-inp {
    height: 40px;
    width: 100%;
    margin-top: 5px;
    border-radius: 3px;
    border: 2px solid #eee;
}

.cus-list {
    padding: 0;
    margin: 0;
    color: rgb(155, 155, 155);
}

.cus-list li {
    list-style-type: none;
    width: 100%;
    display: inline-block;
    margin-bottom: 3px;
}

.listing-icards {
    width: 80%;
    border-radius: 8px;
    padding-bottom: 12px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border: 1px solid #eee;
    cursor: pointer;
    transition: all 0.5s;
}

.listing-icards:hover {
    box-shadow: 12px 12px 15px rgb(51, 50, 50);
    border-radius: 30px 0;
    border: 2px solid rgba(167, 165, 165, 0.924);
}

.img-cover,
.img-description {
    width: 30%;
    height: 140px;
    /* background-color: blue; */
    float: left;
}

.img-description {
    width: 70%;
    /* background: yellow; */
}

.img-cover {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-con {
    height: 120px;
    width: 120px;
    /* background: pink; */
    border-radius: 20px 0 20px 0;
    overflow: hidden;
    border: 1px solid #eee;
}

.img-con img {
    width: 100%;
    height: 100%;
}

.topline {
    display: block;
    font-size: 20px;
    letter-spacing: 0.45px;
    padding-top: 20px;
}

.addr {
    display: block;
    padding-bottom: 3px;
}

.dleft,
.dright {
    display: inline-block;
    padding-left: 25px;
    color: rgb(155, 155, 155);
}

@media screen and (max-width: 1555px) {
    .selections {
        width: 50% !important;
    }

    .selecteditems {
        width: 100%;
        margin-top: 2%;
    }
}

@media screen and (max-width: 1362px) {
    .cards {
        width: 46%;
    }
}

@media screen and (min-width: 773px) {
    .cards {
        min-height: auto;
    }
}
@media screen and (max-width: 600px) {
    .runner,
    .offer {
        display: none !important;
    }
}
